body {
  background-color: rgb(202, 203, 196);
  font-size:medium;
  font-style: oblique;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
    color: rgb(0, 0, 0);
    font-family: "Courier New", Courier, monospace;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.add {
  color: rgb(235, 5, 135);
}

.del {
  text-decoration: line-through;
}

